@page "/"
@model Magazin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    #example {
        top: 50%;
        left: 30%;
        position: fixed;
        font-size: 60px;
    }
</style>

<div id="example">
    <p>Proiect Lucaci Andreea</p>
</div>